@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm("userPage", "Home", FormMethod.Get))
    {
    @Html.Label("Enter your name:");
    @Html.Editor("userName");
    <input type="submit" action="Messages" value="Enter" />
    }
    
</div>