@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <script>var currentUserName = '@ViewBag.UserName'</script>
}
<h1>This is some page of the project</h1>
@if (@ViewBag.UserName != null)
{
    <h2>Current user is @ViewBag.UserName</h2>
}