@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @if (@ViewBag.UserName != null)
    {
        <h2>Current user is @ViewBag.UserName</h2>
    }
    <script>var currentUserName = '@ViewBag.UserName'</script>
}

<div class="container">
    <div id="errors" style="color:red;"></div>
    <div class="form-outline">
        <div class="form-group">
            <label for="input-datalist">Recipient</label>
            <input type="text" class="form-control" placeholder="Enter user name..." list="possibleUsersOptions" id="recipientInput">
            <datalist id="possibleUsersOptions">
            </datalist>
        </div>
    </div>
    <div class="form-outline">
        <div class="form-label">Theme</div>
        <input type="text" class="form-control" placeholder="Enter theme..." id="themeInput" />
    </div>
    <div class="form-outline">
        <label class="form-label" for="messageInput">Message</label>
        <textarea class="form-control" id="messageInput" rows="4" placeholder="Body of the message..."></textarea>    
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row p-1">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        $('#recipientInput').autocomplete()
    }, false);
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mail.js"></script>
