@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @ViewBag.UserName;
    <script>var userName = '@ViewBag.UserName'</script>
}
<style>
    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .collapsible:hover {
            background-color: #ccc;
        }

    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 0 18px;
        /*display: none;*/
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<div class="container">
    <div class="row p-1">
        <div class="form-group">
            <label for="input-datalist">Recipient</label>
            <input type="text" class="form-control" placeholder="Enter user name..." list="possibleUsersOptions" id="recipientInput">
            <datalist id="possibleUsersOptions">
                <option>test</option>
            </datalist>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Theme</div>
        <input type="text" class="form-control" placeholder="Enter theme..." id="themeInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
        <div class="row p-1">
        <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', e => {
        $('#recipientInput').autocomplete()
    }, false);
</script>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mail.js"></script>
