<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnonimousMailServiceTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnonimousMailServiceTest.styles.css" asp-append-version="true" />

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AnonimousMailServiceTest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AnonimousMailServiceTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/lib/pnotify/core/dist/PNotify.js"></script>
    <link href="~/lib/pnotify/core/dist/PNotify.css"
          rel="stylesheet"
    type="text/css" />
    <script>

        if (currentUserName != null) {

        const myStack = new PNotify.Stack({
            dir1: 'up',
            dir2: 'left',
            firstpos1: 25,
            firstpos2: 25
        });

            var connectionSimple = new signalR.HubConnectionBuilder().withUrl("/MailHub?userName=" + currentUserName + "&onlyNew=true").build();

            connectionSimple.on("ReceiveMessagesPopup", function (messagesJson) {
            var messages = JSON.parse(messagesJson);
            for (var i = 0; i < messages.length; i++) {
                PNotify.notice({
                    title: messages[i].Author + ': ' + messages[i].Title,
                    text: messages[i].Body,
                    delay: 2000,
                    stack: myStack
                });

            }
        });
        connectionSimple.start().catch(function (err) {
            return console.error(err.toString());
        });
        }

    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
